body {
  margin: 0;
  padding: 0;
  background-color: gainsboro;
  font-family: "Roboto", sans-serif;
}

/* ===================== NAVBAR ================================== */
.navbar {
  padding: 0;
  margin: 0;
}

.navbar-brand h2 {
  margin: 0px 0px 0px 10px;
  font-weight: 500;
  color: white;
}

.navbar-padre {
  padding: 0px 200px;
  background-color: #31b189;
}

/* ====================== CAR LIST ====================== */
.car-list-padre {
  padding: 0px 200px;
}

.container {
  padding: 0;
}

.titulo {
  margin: 10px 0px;
}
.titulo h3 {
  padding: 10px 0px;
}

.info-auto {
  padding: 0px 12px;
}

.reservar {
  justify-content: flex-end;
}

.info-tarifa {
  justify-content: center;
}

.tarifa {
  font-weight: 600;
}

.text1,
.text2 {
  font-weight: 300;
  font-size: 14px;
}

.nombre-auto {
  font-size: 24px;
  font-weight: bold;
}
.modelo {
  font-size: 14px;
  font-weight: 500;
}

.descripcion {
  font-size: 12px;
}

.img-auto {
  width: 100px;
}

.boton-reservar {
  color: white;
  background-color: #31b189;
}

.boton-reservar:hover {
  color: white;
  background-color: #66e8be;
  box-shadow: 2px 2px 5px #999;
}

/* ==================== RENTAL FORM========================== */
.rental-form-padre {
  padding: 0px 200px;
}

.table th {
  padding: 0px;
}

.tbody td {
  padding: 0px;
}

/* =========================== profile-padre =================================== */
.profile-padre {
  padding: 0px 200px;
}

.titulo-historial h2 {
  padding: 20px;
}
